nav
  background-color: $color-nav-bg
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2)
  box-sizing: border-box
  height: 100%
  position: fixed
  top: 0
  width: $width-nav
  z-index: 2

  &#secondary
    background: #fff
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: $width-nav
    width: $width-subnav
    z-index: 1

  .admin-bar &
    padding-top: 32px

  .logo
    display: block
    font-size: .9em
    margin-bottom: 15px
    text-align: center
    text-decoration: none

    svg
      background-color: $color-highlight
      display: inline-block
      height: 100px
      margin: 15px 0 5px 0
      width: 100px

      path
        fill: $color-nav-bg

    span
      display: inline-block
      &.site-title
        color: $color-nav-item-fg
        font: $font-am-sans-bold
      &.site-title-en
        color: $color-subtitle-fg
        font: $font-header

  ul
    font-size: 0.8em

    a
      color: $color-nav-item-fg
      display: block
      font: $font-am-sans-bold
      padding: 10px 10px
      text-align: right
      text-decoration: none

      span.subtitle
        font: $font-header
        color: $color-subtitle-fg

    .current-menu-item a, .current-menu-ancestor a, .current_page_item a, .current_page_ancestor a, a:hover
      background-color: $color-nav-item-bg-hover
      box-shadow: inset 0px 1px 0px $color-nav-item-border-hover, inset 0px -1px 0px $color-nav-item-border-hover
      color: $color-nav-item-fg-hover
