nav
  box-sizing: border-box
  height: 100%
  left: 0
  position: fixed
  top: 0
  width: $width-nav

  ul.menu
    font-size: 0.8em

    a
      color: $color-nav-fg
      display: block
      font: $font-am-sans-bold
      padding: 5px 0
      text-align: center
      text-decoration: none

      span
        font: $font-body
        font-style: italic

      &:hover
        color: $color-nav-fg-hover

  ul.sub-menu
    display: none
