section.featured_posts
  display: flex
  flex-wrap: wrap

  //- Features
  article.featured
    flex: 1 0 auto
    background: $color-nav-bg
    border-radius: 3px
    margin-right: $margin-featured-posts
    box-shadow: $shadow-primary
    text-align: center

    header
      width: 100%
      background-size: cover
      background-position: center
      display: flex
      align-items: flex-end
      margin-bottom: 10px
      border-radius: 3px 3px 0 0
      border-bottom: 1px solid $color-nav-item-border-hover

    h3
      border: none
      margin: 0
      padding: 10px
      width: 100%
      font-size: 1.5em
      text-align: left

    p
      font-size: 0.9em
      padding: 10px
      text-align: left

    a
      display: inline-block
      background: $color-button-bg
      border: 1px solid $color-button-border
      margin: 5px auto
      padding: 5px 10px
      border-radius: 3px
      text-align: center
      color: $color-button-fg

      &:after
        content: '\203a'
        float: right
        font-size: 1.3em
        margin-left: 10px

      &:hover
        background: $color-button-bg-hover
        color: $color-button-fg-hover

  &.cols2 article.featured
    flex-basis: calc(50% - #{$margin-featured-posts})

    header
      height: 300px

  &.cols3 article.featured
    flex-basis: calc(33.3333% - #{$margin-featured-posts})

    header
      height: 200px

  &.cols4 article.featured
    flex-basis: calc(25% - #{$margin-featured-posts})

    header
      height: 100px
