// Colors
$color-highlight: #aa3333

$color-nav-bg: #f9f9f9
$color-nav-item-fg: #000
$color-nav-item-fg-hover: $color-highlight
$color-nav-item-bg-hover: #fff
$color-nav-item-border-hover: #eee

$color-subtitle-fg: #aaa

// Widths
$width-site-max: 1280px
$width-nav: 230px
$width-subnav: 150px

// Transitions
$transition-standard: all .2s cubic-bezier(0.785, 0.135, 0.15, 0.86)
