extends static-template

block pre-content
  <?php while (have_posts()): the_post(); ?>
  block pre-slider
  #slider.
    <?php
      $slides = get_post_meta(get_the_ID(), 'slides');
      $duration = get_post_meta(get_the_ID(), 'slide_duration', true);
      $num = count($slides);
      foreach ($slides as $i => $slide) {
        echo '<div class="slide" style="background-image:url(' . $slide . '); animation: slider-' . $num . '-slide-' . $i . ' ' . ($num * $duration) . 's infinite;"></div>';
      }
    ?>
  block post-slider

block post-content
  <?php endwhile; ?>
