extends includes/content-template

block fileheader
  <?php /* Template Name: English-Only Page Header */ ?>

block content
  h2
    span
      <?php the_title(); ?>
    span.editlink
      <?php edit_post_link('edit'); ?>
  <?php the_content(); ?>
