<?php $title = is_front_page() ? 'Home' : wp_title('', false); ?>
doctype html
<html>
  head
    meta(charset='utf-8')
    title
      <?php echo $title . ' | ' . get_bloginfo('name'); ?>
    <?php wp_head(); ?>
  <body <?php body_class(); ?>>
    nav.
      <?php wp_nav_menu(array(
        'theme_location' => 'top',
        'walker' => new Walker_Menu_Subtitles(),
      )); ?>
