extends includes/template.pug

block content
  #slider
  .feature
    img.alignleft(src='http://hamazkayinpasadena.com/wp-content/uploads/2017/06/hampas-reading.png')
    div.booklist
      <?php wp_nav_menu(array('theme_location' => 'booklist')); ?>
  <?php while (have_posts()): the_post(); ?>
  <?php the_content(); ?>
  <?php endwhile; ?>
