extends includes/content-template

block content
  h2
    span.am.bold
      <?php echo get_post_meta(get_the_ID(), 'title_am', true); ?>
    span.subtitle
      <?php the_title(); ?>
    span.editlink
      <?php edit_post_link('edit'); ?>
  <?php the_content(); ?>
